@font-face {
  font-family: "aurebesh";
  src: url("./assets/aurebesh.woff2");
}

@font-face {
  font-family: "mandalorian";
  src: url("./assets/mandalorian.woff2");
}

@font-face {
  font-family: "darkkatarn";
  src: url("./assets/darkkatarn.woff2");
}

@font-face {
  font-family: "titillium";
  src: url("./assets/titillium.woff2");
}

body {
  --sw-silver: #dcdce5;
  --sw-dust: #a7a3a2;
  --sw-blue: #2a8dce;
  --sw-space: #02020e;

  margin: 0;
  padding: 0;
  color: var(--sw-blue);
  background-color: #000000;
  background-image: url('./assets/starfield.jpg');
  background-size: cover;
  text-align: center;
}

ul li:nth-child(even) {
  color: #000000;
  background-color: var(--sw-dust);
}

p {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  p { margin-bottom: 1rem; }
  li { height: 2rem; }
}
